html{

/*
*
* Put any additional standard things in here!
*
*/

}

html, body{
    font-family: "SF_Pro", sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;


}

.header{

    margin: 0;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding: 0rem 2rem;


}



footer{
    padding: 5rem 0rem;
    background-color: black;



}
footer p{
    color: white;
    font-weight: 200;


    margin: 0;

    text-align: center;

}

footer a {
    color: white;
}


@font-face {
    font-family: SF_Pro;
    src: url(../fonts/font-awesome-4.7.0/SF_Pro.otf);

    font-family: SF_Pro_Bold;
    src: url(../fonts/font-awesome-4.7.0/SF_Pro_Bold.otf);

    font-family: SF_Pro_Light;
    src: url(../fonts/font-awesome-4.7.0/SF_Pro_Light.otf);

    font-family: SF_Pro_Thin;
    src: url(../fonts/font-awesome-4.7.0/SF_Pro_Thin.otf);
}