html, body{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", sans-serif;
    background-color: #f1f1f1;
}



.header{
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding: 0rem 0rem;


}

.header img{
    align-self: center;
    width: 360px;
    height: 360px;
    padding-top: 2.5rem;
}


.func1{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.func1 .func{
    max-width: 33%;
    text-align: center;
    flex-grow: 1;

    margin: 0;
    padding: 0;

    font-size: 2rem;
    font-weight: 800;




}
.func1 .description{
    text-align: justify;
    max-width: 30%;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;


    font-weight: 300;


}


.iPhone-img{

    max-width: 33%;
    flex-grow: 1;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;

}
.iPhone-img img{
    justify-content: center;
}
footer{
    padding: 5rem 0rem;
    background-color: black;
}
footer p{
    background-color: black;
    color: white;
    font-weight: 200;


    margin: 0;

    text-align: center;

}

@media screen and (max-width: 600px){
    .iPhone-img img{
        max-width: 90%;
        flex-grow: 1;
        margin: 0;
        padding: 0;

    }
    nav{
        flex-direction: column;
        font-size: 1.25rem;
        margin: 0;
        padding: 0;
    }
    nav p{
        padding: 1rem 0;
        margin: 0;
        width: 100%;
    }
    nav .titan{
        text-align: center;
        font-size: 1.75rem;
        width: 100%;
    }
    .func1{
        flex-direction: column;
    }
    .func1 .func{
        max-width: 90%;
    }
    .func1 .description{
        max-width: 70%;
    }


}
