nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 0;
    margin: 0;
    padding-right: 2rem;
    justify-content: flex-end;
    font-size: 1.25rem;
    align-items: center;
    overflow: auto;
}
nav a, nav p.titan{
    margin: 0;
    padding: 1rem 4rem;
    font-weight: 200;
    color: white;
    flex-grow: 1;
    background-color: black;
    text-align: center;
    transition: 1s ease;
    text-decoration: none;


}
nav p.titan{
    font-weight: bolder;
    align-self: flex-start;

}

nav a.menu:hover{
    background-color: dimgray;
    cursor: pointer;

}


@media screen and (max-width: 1200px){
    nav{
        flex-direction: column;
        justify-content: center;
    }
    p.titan{
        font-size: 0;
        width: 100%;
        padding: 0rem;
        margin: 0;
    }
    nav a{
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 0.75rem;
        margin: 0;
    }
}




